<mat-grid-list cols="1" rowHeight="800px">
  <mat-grid-tile>
    <mat-card class="Sofas">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Sofas</mat-card-title>
        <mat-card-subtitle>Muebles para el hogar</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]=sofaImageURL alt="sofa">
      <mat-card-content>
        <p>
          Muebles para todo el hogar, placeholder placeholder, placeholder
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/category/sofas" color="accent">Ir a Sofas</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="Tables">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Mesas</mat-card-title>
        <mat-card-subtitle>Mesas para el hogar</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]=tableImageURL alt="sofa">
      <mat-card-content>
        <p>
          Mesas para todo el hogar, placeholder, placeholder, placeholder
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/category/tables" color="accent">Ir a Mesas</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="Shoes">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Zapatillas</mat-card-title>
        <mat-card-subtitle>Zapatillas para todos los dias</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]=shoeImageURL alt="sofa">
      <mat-card-content>
        <p>
          Zapatillas para todos los dias, placeholder, placeholder, placeholder
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/category/shoes" color="accent">Ir a Zapatillas</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="Mobiles">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Celulares</mat-card-title>
        <mat-card-subtitle>Celulares para la familia</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]=mobileImageURL alt="sofa">
      <mat-card-content>
        <p>
          Celulares para toda la familia, placeholder, placeholder, placeholder
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/category/mobiles" color="accent">Ir a Celulares</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
